/* I learned that styles for an ID attribute will always take precendence, regardless of the order of declaration. */

<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  .pink-text {
    color: pink;
  }
  .blue-text {
    color: blue;
  }

  #orange-text {
    color: orange;
  }
</style>

<h1 id="orange-text" class="pink-text blue-text">Hello World!</h1>
