/* I learned that some browsers cannot interpret variables, so it is good to privide a more widely supported value before the variable. Browsers that do support variables will use the variable because it is lower down in the code. */

<style>
  :root {
    --red-color: red;
  }
  .red-box {

    background: red;
    background: var(--red-color);
    height: 200px;
    width:200px;
  }
</style>
<div class="red-box"></div>
